[submodule "Chestnut/vendor/spdlog"]
	path = Chestnut/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chestnut/vendor/GLFW"]
	path = Chestnut/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
